body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

#banner {
  background-image: url(assets/bannerweb.jpg);
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-position: right bottom;
  background-size: cover;
}

.logo img {
  max-height: 90px;
}

h6 {
  color: #2dbd9d;
  font-size: 12px;
  font-weight: 600;
}

h5 {
  font-size: 22px;
  font-weight: 600;
}

#banner h5,
#banner p {
  margin-bottom: 0;
  margin-top: 30px;
}
h4 {
  font-size: 10px;
  opacity: 0.6;
  margin-bottom: 0;
}
button {
  border-radius: 4px;
  min-width: 136px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  padding: 0 32px;
  border: none;
  height: 56px;
  cursor: pointer;
}

#banner button {
  margin-top: 30px;
}
#bannercontent {
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#ribbon {
  background: linear-gradient(90deg, #091621, #0f4759);
  padding: 25px 200px 25px 200px;
  display: flex;
  align-items: center;
}

#logostrip img {
  max-width: 355px;
}

#stacked {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  align-content: center;
  width: 60%;
}

h3 {
  font-size: 14px;
  opacity: 0.6;
  margin: 10px 0;
}

a {
  color: white;
}

#ribbon p {
  font-size: 24px;
  margin: 10px 0;
}
#ribbon h6 {
  margin: 10px 0;
}

#ribbon button {
  border: solid 2px white;
  background-color: transparent;
  color: white;
}

#bundlebutton {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#imagesection {
  display: flex;
  padding: 20px 150px;
}
.column {
  margin: 0 6px;
  background-color: darkblue;
  width: 33%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.rowhalf {
  background-color: blue;
  width: 100%;
  height: 49%;
}

.rowthird {
  background-color: blue;
  height: 32%;
  width: 100%;
}

#streamingsection {
  background-color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#streamingrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;
  width: 70%;
}
#streamingsection h2 {
  font-size: 24px;
}

h1 {
  font-size: 72px;
}

#streamsection1,
#streamsection2,
#streamsection3,
#streamsection4 {
  width: 295px;
  height: 450px;
  padding: 24px;
  text-align: left;
  margin: 12px;
}
#streamingrow h5,
p {
  margin-top: 0;
  margin-bottom: 5px;
}
/* .imageoverlay {
  background: linear-gradient(
      156.82deg,
      rgba(0, 0, 0, 0.6) 4.58%,
      rgba(0, 0, 0, 0) 69.61%
    ),
    linear-gradient(24.5deg, rgba(0, 0, 0, 0.2) 4.71%, rgba(0, 0, 0, 0) 71.49%);
} */

#streamsection1 {
  background-image: url("assets/sec1.jpg");
  /* width: 100%; */
}
#streamsection2 {
  background-image: url("assets/sec2.jpg");
}

#streamsection3 {
  background-image: url("assets/sec3.jpg");
}

#streamsection4 {
  background-image: url("assets/sec4.jpg");
}
