@font-face {
  font-family: "HKGrotesk";
  src: url("assets/font/HKGrotesk-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "HKGrotesk";
  src: url("assets/font/HKGrotesk-Black.ttf");
  font-weight: 600;
}

body {
  margin: 0;
  font-family: "HKGrotesk", Arial, Helvetica, sans-serif;
  color: white;
  font-kerning: auto;
}
p {
  font-size: 16px;
}
#banner {
  background-image: url(assets/bannerweb.jpg);
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-position: right bottom;
  background-size: cover;
}

.logo img {
  max-height: 90px;
}
.logo {
  margin-top: 18px;
}
h6 {
  color: #2dbd9d;
  font-size: 12px;
  font-weight: 600;
}

h5 {
  font-size: 22px;
  font-weight: 600;
}

#banner h5,
#banner p {
  margin-bottom: 0;
  margin-top: 30px;
}
h4 {
  font-size: 10px;
  opacity: 0.6;
  margin-bottom: 0;
  font-weight: 400;
}
button {
  border-radius: 4px;
  min-width: 136px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  padding: 0 32px;
  border: none;
  height: 56px;
  cursor: pointer;
}

#banner button {
  margin-top: 30px;
}
#bannercontent {
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#ribbon {
  background: linear-gradient(90deg, #091621, #0f4759);
  padding: 25px 200px 25px 200px;
  display: flex;
  align-items: center;
}

#logostrip img {
  max-width: 355px;
}

#stacked {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  align-content: center;
  width: 60%;
}

h3 {
  font-size: 14px;
  opacity: 0.6;
  margin: 10px 0;
  font-weight: 400;
}

a {
  color: white;
}

#ribbon p {
  font-size: 24px;
  margin: 10px 0;
}
#ribbon h6 {
  margin: 10px 0;
}

#ribbon button {
  border: solid 2px white;
  background-color: transparent;
  color: white;
}

#bundlebutton {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#imagesection {
  display: flex;
  padding: 20px 150px;
}
.column {
  margin: 0 6px;
  background-color: darkblue;
  width: 33%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.rowhalf {
  background-color: blue;
  width: 100%;
  height: 49%;
}

.rowthird {
  background-color: blue;
  height: 32%;
  width: 100%;
}

#streamingsection {
  background-color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10vh 0;
}

#streamingsection h1,
h6,
p {
  margin: 0;
}
#streamingsection h2 {
  font-weight: 400;
}

#streamingsection h2 {
  font-size: 24px;
}

h1 {
  font-size: 72px;
}
#streamingrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;
}

#streamsection1,
#streamsection2,
#streamsection3,
#streamsection4 {
  width: 250px;
  height: 400px;
  padding: 24px;
  text-align: left;
  margin: 12px;
  background-size: cover;
}
#streamingrow h5,
p {
  margin-top: 0;
  margin-bottom: 5px;
}

#streamsection1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url("assets/sec1.jpg");
}
#streamsection2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url("assets/sec2.jpg");
}

#streamsection3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url("assets/sec3.jpg");
}

#streamsection4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url("assets/sec4.jpg");
}
#plantable {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
#plantable H1 {
  font-size: 28px;
  margin: 0;
  color: rgb(41, 41, 41);
  font-weight: 600;
}

#plantable H2 {
  font-size: 14px;
  margin-top: 5px;
  color: gray;
}

#plantable Button {
  width: 12vw;
  height: 50px;
  margin: 12px;
  background-color: black;
  color: white;
  margin-bottom: 24px;
}
table {
  border-collapse: collapse;
  margin: 0px;
}

tr {
  border-top: 1px solid rgb(235, 235, 235);
  border-bottom: 1px solid rgb(235, 235, 235);
  margin-top: 6px;
}
tr:first-child {
  border-top: none;
}

td {
  padding: 24px 0;

  text-align: center;
}

.leftaligned {
  text-align: left;
}
th {
  padding-top: 50px;
}
th p,
#plantable p {
  font-weight: 400;
  font-size: 16px;
}
tr h3 {
  color: #727272;
  font-size: 24px;
}

#smalltext {
  font-size: 10px;
  padding-bottom: 100px;
}
.grey {
  background-color: rgba(0, 0, 0, 0.027);
}
#pop {
  background-color: rgb(103, 114, 138);
  border-radius: 100px;
  padding: 8px;
  width: 50%;
}
#pop h6 {
  color: white;
}

.popcontainer {
  display: flex;
  justify-content: center;
  height: 32px;
  margin-bottom: 6px;
}
